<%= form_for @music, method: :get do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "filter" %>
<% end %>
<% if logged_in? %>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Music</button>
<% end %>
<% @musics.each do |music| %>
  <h1 class="music-title"><%= link_to "#{music.title.titleize}", music %></h1>
  <h2><%= music.composer %></h2>
<% end %>
<%= render partial: 'musics/modal', locals: {music: @music} %>
