<div id="show-container">
  <h1>Title: <%= @music.title.titleize %></h1>
  <% if @music.hymn_tune_title %>
    <h5>Hymn Tune: <%= @music.hymn_tune_title %></h5>
  <% end %>
  <h2>Book: <%= @music.book.titleize %></h2>
  <p>Page Number: <%= @music.page_number %></p>
  <h2>Composer: <%= @music.composer.titleize %></h2>
  <% if @music.holiday %>
    <h5>Holiday: <%= @music.holiday %></h5>
  <% end %>
  <% if @spotify %>
    <%= content_tag(:iframe, '', src: @spotify, width: 300, height: 80, allowtransparency: true) %>
  <% end %>
  <% if logged_in? %>
    <%= link_to "Edit", "#myModal", data: {toggle: "modal"} %>
    <%= link_to "Delete", @music, method: :delete %>
  <% end %>
</div>

<!-- Modal -->
<%= render partial: 'musics/modal', locals: {music: @music} %>
