<!DOCTYPE html>
<html>
  <head>
    <title>MomOrgan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Show All Musc", musics_path %>
    <%= link_to "Add Music", new_music_path %>
    <%= yield %>
  </body>
</html>
