<!DOCTYPE html>
<html>
  <head>
    <title>MomOrgan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if(flash[:error]) %>
    <%= flash[:error] %>
    <% elsif(flash[:notice]) %>
    <%= flash[:notice] %>
    <% end %>
    <h1>Organ-izer</h1>
    <%= link_to "Show All Music", musics_path %>
    <%= link_to "Save", musics_path(:format => 'csv') %>
    <% if logged_in? %>
    <%= link_to "Add Music", new_music_path %>
    <%= link_to "LogOut", logout_path, method: :delete %>
    <% else %>
    <%= link_to "LogIn", login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
