<!DOCTYPE html>
<html>
  <head>
    <title>Organ-Izer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <div class="dropdown">
        <button id="custom-btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <ul class="dropdown-menu">
          <li><%= link_to "Show All Music", musics_path %></li>
          <li><%= link_to "Save", musics_path(:format => 'csv') %></li>
          <li><%= link_to "Search", "#", data: {toggle: "modal", target: "#modalSearch"} %></li>
          <% if logged_in? %>
          <li><%= link_to "Add Music", "#", data: {toggle: "modal", target: "#myModal"} %></li>
          <li><%= link_to "LogOut", logout_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "LogIn", login_path %></li>
          <% end %>
        </ul>
      </div>
      <h1 id="main-title">Organ-Izer</h1>
    </header>
    <div id="space"></div>
    <div></div>

    <%= yield %>
    <div>
      <%= render partial: 'musics/modal', locals: {music: @music_new} %>
    </div>
    <%= render partial: 'musics/search-modal', locals: {music: @music_new} %>
    <%= javascript_include_tag "https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js" %>
    <% if flash[:error] %>
    <script>
      alertify.error('<h1><%= flash[:error] %></h1>')
    </script>
    <% elsif flash[:notice] %>
    <script>
      alertify.success('<h1><%= flash[:notice] %></h1>')
    </script>
    <% end %>
  </body>
</html>
