<!DOCTYPE html>
<html>
  <head>
    <title>Organ-Izer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <h1 id="main-title">Organ-Izer</h1>
      <%= link_to "Show All Music", musics_path %>
      <%= link_to "Save", musics_path(:format => 'csv') %>
      <% if logged_in? %>
      <%= link_to "LogOut", logout_path, method: :delete %>
      <% else %>
      <%= link_to "LogIn", login_path %>
      <% end %>
    </div>
    <% if(flash[:error]) %>
    <%= flash[:error] %>
    <% elsif(flash[:notice]) %>
    <%= flash[:notice] %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
